
!icons.mat

.DS_Store

*.m~

docs/_site/
docs/.sass-cache/
.jekyll-metadata
_pdf

*.sublime-workspace
*.tap

*.asv

dev/standalone/Linux/Source/
dev/standalone/Win/Source/
dev/standalone/MacOS/Source/

*.swp
*.swo
*.xml
*.rej

**profile_results
python/ctf
.idea/
**/*.pyc
python/build/
python/pyspinw/ctfs/

includedSupportPackages.txt
mccExcludedFiles.log
requiredMCRProducts.txt
unresolvedSymbols.txt
